### In-Game Purchase Data Analysis

#### Background 

In this homework, you are ask to deal with a task of analyzing an "in-game purchase" dataset. In this game, players are able to to purchase optional items that enhance their playing experience. Now your task is to generate a report that breaks down the game's purchasing data into meaningful insights.

-----

#### Observable Trends

* There are 1163 active players. The vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.79%) with secondary groups falling between 15-19 (18.58%) and 25-29 (13.37%). 

* The age group that spends the most money is the 20-24 with 1,114.06 dollars as total purchase value and an average purchase of 4.32. In contrast, the demographic group that has the highest average purchase is the 35-39 with 4.76 and a total purchase value of 147.67. 
-----

In [1]:
import pandas as pd
import numpy as np
import os

previous_path = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
file_to_load = previous_path + "/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load, index_col='Purchase ID')

## Player Count

* Display the total number of players

In [2]:
print(len(purchase_data['SN'].unique()))

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.
* Create a summary data frame to hold the results
* Display the summary data frame

In [3]:
from statistics import mean

total_revenue = round(sum(purchase_data['Price']), 2)
num_purchases = len(purchase_data)
mean_price = round(mean(purchase_data['Price']), 2)
num_unique_items = len(purchase_data['Item ID'].unique())

In [4]:
summary = pd.DataFrame([{'Number of Unique Items': num_unique_items, 
                         'Average Price': f'${mean_price}', 
                         'Number of Purchases': num_purchases, 
                         'Total Revenue': f'${total_revenue}'}])
summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

**! note that `Gender` column has repeated people !**

In [5]:
male, female, other = 0, 0, 0
for name in purchase_data['SN'].unique():
    unique_sn = purchase_data[purchase_data['SN'] == name]
    if unique_sn['Gender'].unique() == 'Male':
        male += 1
    elif unique_sn['Gender'].unique() == 'Female':
        female += 1
    else:
        other += 1
print(male, female, other)

484 81 11

In [6]:
perc_male = round(male / len(purchase_data['SN'].unique()) * 100, 2)
perc_female = round(female / len(purchase_data['SN'].unique()) * 100, 2)
perc_other = round(other / len(purchase_data['SN'].unique()) * 100, 2)

In [7]:
data = {'Gender': ['Male', 'Female', 'Other / Non-Disclosed'], 
        'Percentage of Player': [perc_male, perc_female, perc_other], 
        'Total Count': [male, female, other]}
gender_demographics = pd.DataFrame.from_dict(data).set_index('Gender')
gender_demographics.index.name = ''
gender_demographics

                       Percentage of Player  Total Count

Male                                  84.03          484
Female                                14.06           81
Other / Non-Disclosed                  1.91           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain below values by gender
  * Purchase Count
  * Average Purchase Price  
  * Total Purchase Value
  * Average Purchase Total per Person by Gender
* Create a summary data frame to hold the results
* Display the summary data frame

In [8]:
len_of = lambda col_name, var: len(purchase_data[purchase_data[col_name] == var])

purchase_count_male = len_of('Gender', 'Male')
purchase_count_female = len_of('Gender', 'Female')
purchase_count_other = len(purchase_data) - purchase_count_male - purchase_count_female
print(purchase_count_female, purchase_count_male, purchase_count_other)

113 652 15

In [9]:
mean_price_by_gender = lambda gender: round(mean(purchase_data[purchase_data['Gender'] == gender]['Price']), 5)

mean_purchase_price_male = mean_price_by_gender('Male')
mean_purchase_price_female = mean_price_by_gender('Female')
mean_purchase_price_other = mean_price_by_gender('Other / Non-Disclosed')
print(mean_purchase_price_female, mean_purchase_price_male, mean_purchase_price_other)

3.20301 3.01785 3.346

In [10]:
sum_price_by_gender = lambda gender: round(sum(purchase_data[purchase_data['Gender'] == gender]['Price']), 2)

total_purchase_female = sum_price_by_gender('Female')
total_purchase_male = sum_price_by_gender('Male')
total_purchase_other = sum_price_by_gender('Other / Non-Disclosed')
print(total_purchase_female, total_purchase_male, total_purchase_other)

361.94 1967.64 50.19

In [11]:
avg_per_female = round(total_purchase_female / female, 2)
avg_per_male = round(total_purchase_male / male, 2)
avg_per_other = round(total_purchase_other / other, 2)
print(avg_per_female, avg_per_male, avg_per_other)

4.47 4.07 4.56

In [12]:
data = {'Gender': ['Female', 'Male', 'Other / Non-Disclosed'], 
        'Purchase Count': [purchase_count_female, purchase_count_male, purchase_count_other], 
        'Average Purchase Price': [mean_purchase_price_female, mean_purchase_price_male, mean_purchase_price_other], 
        'Total Purchase Value': [total_purchase_female, total_purchase_male, total_purchase_other], 
        'Avg Purchase Total per Person': [f'${avg_per_female}', f'${avg_per_male}', f'${avg_per_other}']}
gender_demographics = pd.DataFrame.from_dict(data).set_index('Gender')
gender_demographics

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,3.20301,361.94,$4.47
Male,652,3.01785,1967.64,$4.07
Other / Non-Disclosed,15,3.34600,50.19,$4.56

## Age Demographics

* Categorize players using the age groups. Hint: use pd.cut()
  * each group is for 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
* Calculate the numbers and percentages by age group
* Create a summary data frame to hold the results
* round the percentage column to two decimal points
* Display Age Demographics Table

In [13]:
# test
cato = pd.cut(purchase_data.Age,bins=[0,9,14,19,24,29,34,39,100], 
              labels=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+'])
cato

Purchase ID
0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [14]:
if 'Age_Group' in purchase_data.columns:
    del purchase_data['Age_Group']
    purchase_data.insert(1, 'Age_Group', cato)
else:
    purchase_data.insert(1, 'Age_Group', cato)

In [15]:
count_age_range = {}
for name in purchase_data['SN'].unique():
    unique_sn = purchase_data[purchase_data['SN'] == name]
    age_range = unique_sn['Age_Group'].unique()[0]
    if age_range in count_age_range:
        count_age_range[age_range] += 1
    else:
        count_age_range[age_range] = 1
#count_age_range

In [16]:
total_player = sum(each_count for each_count in count_age_range.values())
pct_player = [round(each_count/total_player * 100, 2) for each_count in count_age_range.values()]
#pct_player

In [17]:
age_demog_df = pd.DataFrame({'Percentage of Player': pct_player, 
                             'Total Count': count_age_range}, 
                            index=list(count_age_range.keys()))
age_demog_df.sort_index(ascending=True, inplace=True)
age_demog_df

       Percentage of Player  Total Count
10-14                  3.82           22
15-19                 18.58          107
20-24                 44.79          258
25-29                 13.37           77
30-34                  9.03           52
35-39                  5.38           31
40+                    2.08           12
<10                    2.95           17

## Purchasing Analysis (Age)

* The below each broken into groups of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
  * `Purchase Count`
  * `Average Purchase Price`
  * `Total Purchase Value`
  * `Average Purchase Total per Person by Age Group`
* Bin the purchase_data data frame by age
* Run basic calculations to obtain purchase count, avg. purchase price, total purchase value, avg. purchase total per person. in the table below
* Create a summary data frame to hold the results
* Display the summary data frame

In [18]:
def purchasing_analysis():
    pc_, app_, tpv_, aptpp_ = [], [], [], []
    for i in purchase_data.Age_Group.unique():
        df = purchase_data[purchase_data.Age_Group == i]
        pc_.append(len(df['Item ID']))
        tpv_.append(f"${round(df.Price.sum(), 2)}")
        app_.append(f"${round(df.Price.sum() / len(df['Item ID']), 2)}")
        aptpp_.append(f"${round(df.Price.sum() / age_demog_df.loc[i]['Total Count'], 2)}")
    return pc_, app_, tpv_, aptpp_
purchase_count, avg_purchase_price, total_purchase_value, avg_purchase_total_per_person = purchasing_analysis()

In [19]:
purchasing_analysis_df = pd.DataFrame({'Purchase Count': purchase_count, 
                                       'Average Purchase Price': avg_purchase_price,
                                       'Total Purchase Value': total_purchase_value, 
                                       'Average Purchase Total Per Person': avg_purchase_total_per_person}, 
                                      index=list(purchase_data.Age_Group.unique()))
purchasing_analysis_df.sort_index(ascending=True, inplace=True)
purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total Per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.9,$293.0,$3.81
30-34,73,$2.93,$214.0,$4.12
35-39,41,$3.6,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Identify the the top 5 spenders in the game by total purchase value (top-5 players with highest total purchase value), then list (in a table):
  * `SN(screen name)`
  * `Purchase Count`
  * `Average Purchase Price`
  * `Total Purchase Value`
* Run basic calculations to obtain the results in the table below
* Create a summary data frame to hold the results
* Sort the total purchase value column in descending order
* Display a preview of the summary data frame

In [20]:
top_spenders = {}
for person in purchase_data.SN.unique():
    df = purchase_data[purchase_data.SN == person]
    count_items = len(df['Item ID'])
    items_price = round(df.Price.sum(), 2)
    avg_purchase_price = round(items_price / count_items, 2)
    
    top_spenders[person] = {}
    top_spenders[person]['count_item'] = count_items
    top_spenders[person]['items_price'] = items_price
    top_spenders[person]['avg_purchase_price'] = avg_purchase_price

In [21]:
top_purchase = sorted([top_spenders[person]['items_price'] for person in purchase_data.SN.unique()], reverse=True)[:5]

In [22]:
name, pc, app, tpv = [], [], [], []
for person in purchase_data.SN.unique():
    total = top_spenders[person]['items_price']
    count = top_spenders[person]['count_item']
    avg_price = top_spenders[person]['avg_purchase_price']
    if total in top_purchase:
        name.append(person)
        pc.append(count)
        app.append(avg_price)
        tpv.append(total)
#name, pc, app, tpv

In [23]:
top_spenders_df = pd.DataFrame({'SN': name, 
                                'Purchase Count': pc, 
                                'Average Purchase Price': app, 
                                'Total Purchase Value': tpv})
top_spenders_df.set_index('SN', inplace=True)
top_spenders_df

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10
Chamjask73                3                    4.61                 13.83
Idastidru52               4                    3.86                 15.45

## Most Popular Items

* Top 5 most popular items by purchase count:
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value
* Retrieve the Item ID, Item Name, and Item Price columns
* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
* Create a summary data frame to hold the results
* Sort the purchase count column in descending order
* Display a preview of the summary data frame

In [24]:
# check
'Final Critic' in list(purchase_data['Item Name'])

True

In [25]:
from collections import Counter

counter = Counter(purchase_data['Item Name'])
items_id = []
items_name = []
purchase_count = []
prices = []
total_prices = []
for item, count in counter.most_common(6):
    item_id = list(purchase_data[purchase_data['Item Name'] == item]['Item ID'])[0]
    items_id.append(item_id)
    items_name.append(item)
    purchase_count.append(count)
    price = list(purchase_data[purchase_data['Item Name'] == item].Price)[0]
    prices.append(f'${price}')
    total = round(count * price, 2)
    total_prices.append(f'${total}')
    
    print(item_id, item, count, price, total)

92 Final Critic 13 4.88 63.44
178 Oathbreaker, Last Hope of the Breaking Storm 12 4.23 50.76
108 Extraction, Quickblade Of Trembling Hands 9 3.53 31.77
82 Nirvana 9 4.9 44.1
141 Persuasion 9 3.19 28.71
145 Fiery Glass Crusader 9 4.58 41.22

In [26]:
most_popular_df = pd.DataFrame({'Item ID': items_id, 
                                'Item Name': items_name, 
                                'Purchase Count': purchase_count, 
                                'Item Price': prices, 
                                'Total Purchase Value': total_prices})
most_popular_df.set_index(['Item ID', 'Item Name'], inplace=True)
most_popular_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.88,$63.44
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.9,$44.1
141,Persuasion,9,$3.19,$28.71
145,Fiery Glass Crusader,9,$4.58,$41.22

## Most Profitable Items

* Top 5 most profitable items by total purchase value:
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value
* Sort the above table by total purchase value in descending order
* Display a preview of the data frame

In [27]:
items_name = list(purchase_data['Item Name'].unique())
items_total_purchase_price = [round(purchase_data[purchase_data['Item Name'] == item].Price.sum(), 2) 
                              for item in items_name]
items_id = []
purchase_count = []
item_price = []
#total_purchase_value = []
for item in items_name:
    item_id = list(purchase_data[purchase_data['Item Name'] == item]['Item ID'])[0]
    items_id.append(item_id)
    count = len(purchase_data[purchase_data['Item Name'] == item])
    purchase_count.append(count)
    price = list(purchase_data[purchase_data['Item Name'] == item].Price)[0]
    item_price.append(price)
    #total_purchase_value.append(round(count * price, 2))

In [28]:
for itemid, name, count, price, total in zip(items_id, items_name, purchase_count, item_price, items_total_purchase_price):
    #print(f'{itemid}, {name}, {count}, {price}, {total}')
    pass

In [29]:
items_total_purchase_price_sorted = sorted(items_total_purchase_price, reverse=True)

top_items_name = []
top_items_total_purchase_price = []
top_items_id = []
top_purchase_count = []
top_item_price = []
for i in items_total_purchase_price_sorted[:5]:
    index = items_total_purchase_price.index(i)
    #print(items_id[index], items_name[index], purchase_count[index], item_price[index], items_total_purchase_price[index])
    top_items_id.append(items_id[index])
    top_items_name.append(items_name[index])
    top_purchase_count.append(purchase_count[index])
    top_item_price.append(item_price[index])
    top_items_total_purchase_price.append(items_total_purchase_price[index])

In [30]:
most_profitable_df = pd.DataFrame({'Item ID': top_items_id, 
                                'Item Name': top_items_name, 
                                'Purchase Count': top_purchase_count, 
                                'Item Price': [f'${price}' for price in top_item_price], 
                                'Total Purchase Value': [f'${total}' for total in top_items_total_purchase_price]})
most_profitable_df.set_index(['Item ID', 'Item Name'], inplace=True)
most_profitable_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.88,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.9,$44.1
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.8